@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.bigcontainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  margin: 40px;
  background: radial-gradient(343px at 46.3% 47.5%, rgb(242, 242, 242) 0%, rgb(241, 241, 241) 72.9%);
  border: dashed;
  border-width: 2px;
  color: grey;
  border-radius: 10px;
  overflow: none;
}

img {
  display: flex;
  overflow: none;
  max-width: 300px;
  pointer-events: none;
  border-radius: 7px;
}

.container-home {
  border: dashed;
  border-width: 2px;
  color: grey;
  border-radius: 10px;
}

.container {
  margin: 2px;
  border: solid;
  border-color: grey;
  border-radius: 10px;
}

#container-memes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  gap: 20px;
  margin: 40px;
}

a, p {
  font-family: 'Sedgwick Ave Display', cursive;
  text-decoration: none;
  color: grey;
  margin-top: 5px;
  font-size: 15px;
}
