::selection {
  background: #acbce8;
}

body {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #ffffff;
  background-image: radial-gradient(#4b4b4b 0.35000000000000003px, #ffffff 0.35000000000000003px);
  background-size: 7px 7px;
}

p {
  line-height: 1.6em; 
}
#content li {
  line-height: 1.6em; 
}


img {
  max-width: 100%;
  height: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

table {
  width: 100%;
}

td {
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  height: 50px;
  border-bottom: 1px solid #ddd;
}

.right {
  float: right;
  margin-left: 1em;
}
.left {
  float: left;
  margin-right: 1em;
}
.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .small {
  max-width: 60%;
  height: auto;
  }
}
.caption {
  margin-top: 0;
  font-size: 0.9em;
  font-style: italic;
}

a {
  text-decoration: underline;
  text-decoration-style: dotted;
}

a:visited {
  color: midnightblue;
}

a:hover { 
  background-color: #acbce8;
}

.meme {
  max-width: 260px;
  outline-style: solid;
  outline-color: black;
  outline-offset: 0;
  outline-width: 1px;
}

.meme:hover {
  transform: scale(1.1);
}

#container-memes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  gap: 20px;
  margin: 40px;
}

#container {
  margin: 3em auto;
  width: 90%;
	max-width: 700px;
  color: black; 
  outline-color: black;
  outline-style: solid;
  outline-width: 1px;
  outline-offset: 0;
  background-color: white;
}

#content {
  padding: 10px 5% 20px 5%;
}

.container-programs {
  display: flex;
  gap: 10px;
}


#header {
  background-color: black;
  padding: 0 5%;
}
#header ul {
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0;
}
#header li {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}
#header li a {
  color: white;
  text-decoration: none;
  background-color: inherit;
}
#header li a:hover {
  text-decoration: underline;
}

/*POST LIST STYLE*/
#postlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: none;
}
#recentpostlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: none;
}
.moreposts {
  font-size: 0.8em;
  margin-top: 0.2em;
}


#nextprev {
  text-align: center;
  margin-top: 1.4em;
}


#disqus_thread {
  margin-top: 1.6em;
}


#footer {
  font-size: 0.8em;
  padding: 0 5% 10px 5%;
}

#contact-info {
  font-size: 0.8em;
}

.normal {
  line-height: 18px;
}

.programs {
  max-width: 25px;
  object-fit: contain;
  pointer-events: none;
}
